@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import 'custom';

*  {
    margin: 0px;
    padding: 0px;
}

main {
    padding-top: 50px;
}
/* .list-categories{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

@media screen and (min-width: 992px){
    .list-categories{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.list-categories .category{
    white-space: nowrap;
    margin: 10px 15px;
} */

img {
    max-width: 100%;
}

h2{
    font-size: 20px;
}
